<div class="container align-items-center mt-3 alert-secondary">
    <table class="table table-hover">
        <tbody>
            <tr>
                <td class="text-center" scope="row">
                     <a asp-controller="Department" asp-action="Index">На главную</a>
                </td>
                <td class="text-center" scope="row">
                    <a asp-controller="Department" asp-action="CreateDepartment">Добавить департамент</a>
                </td>
                <td class="text-center" scope="row">
                     <a asp-controller="Department" asp-action="AllDepartment">Список всех департаментов</a>
                </td>
           </tr>
        </tbody>
    </table>
</div>